@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

* {
    margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

main{
    width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    align-items: space-between;
}

main h3, h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

main p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(208, 11%, 55%);
}

.base{
    background-image: url('bg-hero-desktop.svg');
    width: 100%;
    height: 100vh;
}

#logo{
    position: relative;
    top: 10px;
    left: 100px;
    width: 100px;
}

#free{
    position: relative;
    top: 10px;
    left: 50px;
    width: 150px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    border: 1px white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    background-color: white;
    position: relative;
    left: 950px;
}

.text{
    position: relative;
    top: 90px;
    left: 100px;
    text-align: left;
    font-size: 18px;
    color: black;
}

.textt{
    position: relative;
    top: 120px;
    left: 100px;
    text-align: left;
    font-size: 14px;
    color: black;
}

.btn1{
    position: relative;
    top: 150px;
    left: 100px;
    width: 200px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 12px;
    border: 1px white;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.img{
    width: 400px;
    position: relative;
    bottom: 100px;
    left: 800px;
}

/** section 2*/


.imgg{
    width: 400px;
    position: relative;
    top: 60px;
    left: 900px;
}

.note{
    position: relative;
    top: 270px;
    left: 100px;
    text-align: left;
    font-size: 18px;
    color: black;
}

.notee{
    position: relative;
    top: 300px;
    left: 100px;
    text-align: left;
    font-size: 14px;
    color: hsl(208, 11%, 55%);
}

@media screen and (min-width: 600px) {
    main{
        flex-direction: column;
    }
    
}